<div class="table ">
    <h2>Oversikt registrerte betaleringer</h2>
    <!--endre og sletteknapper her-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Dato</th>
                <th>Betal fra</th>
                <th>Betale til</th>
                <th>Beløp</th>
                <th>Kid</th>
            </tr>
        </thead>
        <tbody>
            @using HardBank.Models;
            @{

                foreach(Betaling b in Model.betalinger)
                {
                    <tr>
                        <td>@b.dato</td>
                        <td>@b.fraKontonr</td>
                        <td>@b.tilKontonr</td>
                        <td>@b.belop</td>
                        <td>@b.kid</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
