@model HardBank.Models.Kunde

@{
    ViewBag.Title = "Minside";
}

<div class="container">
    <div class="jumbotron">
    <div class="container">
        
        <h3>@Model.fornavn @Model.etternavn</h3>
        <h5>Kundenummer: @Model.id</h5>
        <h5>Personnummer: @Model.personnr</h5>
       
            <div class="table">
                <h2>Mine konti</h2>
                <table class="table table-bordered">
                    <tr>
                        <th>Kontonavn</th>
                        <th>Kontonummer</th>
                        <th>Saldo</th>
                    </tr>
                    <tr>
                        <td>Spare</td>
                        <td>1202.05.28050</td>
                        <td>1000 000</td>
                    </tr>
                </table>
            </div>

    </div>



        <div class="container" id="minsideTab">
                <!--Menytabell-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#a">Betale til en</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#b">Registrerte betalinger</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#c">Utførte betalinger</a>
                    </li>

                </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane active" id="a">
                    
                    @Html.Partial("_BetalePartial")
                </div>
                <div class="tab-pane" id="b">
                    @Html.Partial("_RegBetalingPartial")
                </div>
                <div class="tab-pane" id="c">
                    @Html.Partial("_UtforeBetalingPartial")
                </div>
            </div>
        </div>

        

        

           

        </div> <!--end jumbotron-->
</div>


<script type="text/javascript" src="~/Scripts/minSide.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">